.dropdownContainer {
    color: #a9b4bd;
    font-weight: 500;
    border: 1px solid #3e576b;
    background-color: #28445B;
}

.dropdownContainer div {
    padding: 6px 0 6px 12px;
    cursor: pointer;
}

.dropdownContainer div:hover {
    color: white;
    background: #3e576b;
}
.outerContainer {
    width: 150px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    border-radius: 3px;
}

.hide {
    display: none;
}

.timeStampButton {
    font-weight: 500;
    width: 35px;
    font-size: 13px;
    color: #8b969f;
    padding: 8px;
    &:hover{
        background: #28445B;
        color: white;
    }
}