.tableHead {
    color: white;
    opacity: 0.6;
}

.rowData {
    color: white;
    font-size: 13px;
}

.headContainer, .rowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableHolder {
    width: 30%;
    border: 1px solid white;
}